.section{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:40px;
color:rgb(0, 0, 0);
text-align:center;
}

.hero{
background:linear-gradient(135deg,#688fd7,#243b55);
}

.about{
background:linear-gradient(135deg,#b995d9,#734b6d);
}

.services{
background:linear-gradient(135deg,#60919e,#71b280);
}

.contact{
background:linear-gradient(135deg,#4568dc,#b06ab3);
}

p{
font-size:18px;
margin-top:10px;
}